


.player{
  font-size:1.3rem;
  font-weight:545;
}
span{
  background-color:white;
  padding:2px 6px;
  border-radius:3px;
}
.board{
  display:grid;
  min-width:250px;
  min-height:200px;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(3, 1fr);
  gap:7px;
  margin-top: 1rem;
}
button{
  background-color:rgb(221, 217, 217);
  border:none;
  border-radius:5px;
  width:100%;
  height:100%;
  font-size:2rem;
  padding-bottom:2px;
  text-align:center;
  align-items:center;
  transition:0.4s ease-end-out;
}

button:hover{
  background-color:rgb(190, 190, 190);
  cursor:pointer;
}
.reset-btn{
  
  box-shadow:0 0 10px white;
  background-color:rgb(6, 91, 112);
  color:white;
  width:50%;
  margin-top:1.5rem;
  padding:0.8rem;
  font-size:1.2rem;
  transition:0.4s ease-end-out;
}
.reset-btn:hover{
  background-color:rgb(76, 172, 196);
  color:black;
  cursor:pointer;
}

