
body{
  background-color:rgb(76, 172, 196);
  margin:0;
  min-height:85vh;
  display:flex;
  justify-content:center;
  align-items:center;

}
section{
  max-width:1500px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  align-items:center;
}
h1{
  box-shadow:0 0 25px white;
  padding:1rem 3rem;
  border-radius: 15px;
}